// Reset

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

// !Reset

// Variables

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-solitude: #e7f6ff;
  --color-gallery: #eaeaea;
  --color-concrete: #f3f3f3;
  --color-silver: #bdbdbd;
  --color-silver-chalice: #9d9d9d;
}

// !Variables

* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-solitude);
  color: var(--color-black);
}

.wrapper {
  background-color: var(--color-white);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  width: 100%;
  margin: 85px auto;
}

header {
  border-bottom: 1px solid var(--color-gallery);

  img {
    margin-right: 15px;
  }
}

.headerInfo {
  h3 {
    font-size: 20px;
    line-height: 24px;
  }
  span {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: var(--color-silver-chalice);
  }
}

.card {
  background: var(--color-white);
  border: 1px solid var(--color-concrete);
  border-radius: 40px;
  padding: 30px;
  max-width: 220px;
  width: 100%;
  min-height: 260px;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
  }

  &:not(:last-child) {
    margin-right: 30px;
  }

  .favorite {
    position: absolute;
    cursor: pointer;
  }

  h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 14px;
  }

  span {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    line-height: 1;
    color: var(--color-silver);
  }

  b {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
  }
}

.button {
  background-color: var(--color-white);
  border: 1px solid var(--color-concrete);
  border-radius: 8px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.search-block {
  border: 1px solid var(--color-concrete);
  border-radius: 10px;
  padding: 0 15px;

  input {
    border: 0;
    padding: 13px;
    font-size: 14px;
    width: 200px;
  }
}
