// Reset

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

// !Reset

// Variables

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-solitude: #e7f6ff;
  --color-gallery: #eaeaea;
  --color-concrete: #f3f3f3;
  --color-silver: #bdbdbd;
  --color-silver-chalice: #9d9d9d;
  --color-conifer: #9dd558;
}

// !Variables

* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-solitude);
  color: var(--color-black);
}

.wrapper {
  background-color: var(--color-white);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  width: 100%;
  margin: 85px auto;
}

header {
  border-bottom: 1px solid var(--color-gallery);

  img {
    margin-right: 15px;
  }
}

.headerInfo {
  h3 {
    font-size: 20px;
    line-height: 24px;
  }
  span {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: var(--color-silver-chalice);
  }
}

.card {
  background: var(--color-white);
  border: 1px solid var(--color-concrete);
  border-radius: 40px;
  padding: 30px;
  max-width: 220px;
  width: 100%;
  min-height: 260px;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
  }

  &:not(:last-child) {
    margin-right: 30px;
  }

  .favorite {
    position: absolute;
    cursor: pointer;
  }

  h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 14px;
  }

  span {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    line-height: 1;
    color: var(--color-silver);
  }

  b {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
  }
}

.button {
  background-color: var(--color-white);
  border: 1px solid var(--color-concrete);
  border-radius: 8px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.search-block {
  border: 1px solid var(--color-concrete);
  border-radius: 10px;
  padding: 0 15px;

  input {
    border: 0;
    padding: 13px;
    font-size: 14px;
    width: 200px;
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawer {
  position: absolute;
  right: 0;
  height: 100%;
  width: 420px;
  background-color: var(--color-white);
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 24px;
    line-height: 1;
  }

  .items {
    overflow: auto;
  }
}

.cartItem {
  padding: 20px;
  border: 1px solid var(--color-concrete);
  border-radius: 20px;
  overflow: hidden;

  .cartItemImg {
    width: 70px;
    height: 70px;
    background-size: contain;
    background-position: 0 -3px;
    background-repeat: no-repeat;
    margin: 20px;
  }

  span {
    display: block;
    font-size: 14px;
    line-height: 1;
  }
  b {
    font-size: 14px;
  }
}

.removeBtn {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.cartTotalBlock {
  margin-top: auto;
  ul {
    padding: 0;
    margin-bottom: 24px;
    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;

      div {
        flex: 1;
        height: 1;
        border-bottom: 1px dashed var(--color-silver-chalice);
        position: relative;
        top: -4px;
        margin: 0 7px;
      }
    }
  }

  .greenButton {
    position: relative;

    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      right: 33px;
      transition: transform 0.2s ease-in-out;
    }
  }
}

.greenButton {
  position: relative;
  padding: 18px 33px;
  width: 100%;
  border: none;
  border-radius: 18px;
  background-color: var(--color-conifer);
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  color: var(--color-white);
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: lighten(#9dd558, 5%);
  }

  &:active {
    background-color: darken(#9dd558, 10%);
  }
}
